@font-face {
    font-family: new-has;
    src: url(./Assest/NeueHaasDisplayMediu.ttf);
}



@font-face {
    font-family: new-has;
    font-weight: 100;
    src: url(./Assest/NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: new-has;
    font-weight: 200;
    src: url(./Assest/NeueHaasDisplayRoman.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: new-has;
}

html,body{
    width: 100%;
    height: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 0;
}

.nav-btn{
    display: flex;
    align-items: center;
    gap: 1.4vw;
}

.nav-btn a{
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid rgba(122, 117, 117, 0.704);
    border-radius: 50px;
    font-weight: 600;
    color: black;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    
}

.nav-btn a:hover{
    color: white;
    
}
.nav-btn a::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(15, 14, 14);
    left: 0;
    bottom:-100%;
    
    z-index: -1;
    border-radius: 50%;
    transition: all ease .4s;
   
}

.nav-btn a:hover::after{
bottom: 0;
border-radius: 0;
color: white;
}

#center{
    height: 65vh;
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2vw;
    border-bottom: 1px solid #000000;
}
#left h3{
    width:25vw;
    line-height: 2vw;
    font-size: 1.8vw;
}
#right h1{
 font-size: 10vw;
 line-height: 8vw;
 text-align: right;
}

#page1 video{
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 70vh;
    
}

#hero1{
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    position: absolute;
}
#hero2{
    background: linear-gradient(#FF4906,#cf5022);
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    filter: blur(20px);
    position: absolute;
    animation-name: animation2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
#hero3{
   background: linear-gradient(#FF4906,#cf5022);
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    filter: blur(10px);
    position: absolute;
    animation-name: animation1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animation2 {
    from{
        transform: translate(55%,-3%);

    }
    to{
        transform: translate(0%,10%);
    }
}

@keyframes animation2 {
    from{
        transform: translate(5%,-5%);

    }
    to{
        transform: translate(-20%,30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
  background-color: #EFEAE3;
    padding: 7vw 0;
     position: relative;
}

#moving-text{
    /* background-color: white; */
    white-space: nowrap;
    overflow-x: auto;
   
}
#moving-text::-webkit-scrollbar{
    display: none;
}

#moving-text h1{
    font-size: 5vw;
    display: inline-block;
   
}

#gola{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
    margin: 0vw 2vw;
  
}

.con{
    /* background-color: aqua; */
   white-space: nowrap;
   display: inline-block;
  animation-name: move;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#page2-buttom{
    height: 80vh;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    position: relative;
    z-index: 9;
}
#page2-buttom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#buttom-part2{
width: 20%;
/* margin-top: 20vh; */
}

#buttom-part2 img{
    width: 100%;
    border-radius: 15px;
   
}

#buttom-part2  p{
    font-weight: 200;
    font-size: 1vw;
    margin-top: 2vw;
    
}

 #page2 #page2-animation{
   
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top,#fe320a,#fe780a);
    top: 55%;
    left: 25%;
    filter: blur(20px);
    animation-name: page2-anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes page2-anime {
    from{
        transform: translate(10%,-10%) skew(0);
        filter: blur(20);
    }
    to{
        transform: translate(-10%,10%) skew(12deg);
        filter: blur(30);
    }
    
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
}

.elem{
    height: 150px;
    width: 100%;
    position: relative;
    background-color: #fe320a;
    display: flex;
    
}