@font-face {
    font-family: new-has;
    src: url(./Assest/NeueHaasDisplayMediu.ttf);
}



@font-face {
    font-family: new-has-light;
    font-weight: 100;
    src: url(./Assest/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: new-has;
    font-weight: 200;
    src: url(./Assest/NeueHaasDisplayRoman.ttf);
}

main{
    z-index: 10;
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: new-has;
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 0;
    /* position: relative;
    z-index: 100; */
}
nav h3{
    display: none;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 1.4vw;
}

.nav-btn a {
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid rgba(122, 117, 117, 0.704);
    border-radius: 50px;
    font-weight: 600;
    color: black;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    z-index: 9;

}

.nav-btn a:hover {
    color: white;

}

.nav-btn a::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(15, 14, 14);
    left: 0;
    bottom: -100%;

    z-index: -1;
    border-radius: 50%;
    transition: all ease .4s;

}

.nav-btn a:hover::after {
    bottom: 0;
    border-radius: 0;
    color: white;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orangered; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2vw;
    border-bottom: 1px solid #000000;
}

#left h3 {
    width: 25vw;
    line-height: 2vw;
    font-size: 1.8vw;
}

#right h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    height: 36vw;
    width: 46vw;
    right: 0;
    top: 70vh;

}

#hero1 {
    background-color: #fe320a;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    position: absolute;
}

#hero2 {
    background: linear-gradient(#FF4906, #cf5022);
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    filter: blur(20px);
    position: absolute;
    animation-name: animation2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero3 {
    background: linear-gradient(#FF4906, #cf5022);
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    filter: blur(10px);
    position: absolute;
    animation-name: animation1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animation2 {
    from {
        transform: translate(55%, -3%);

    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes animation2 {
    from {
        transform: translate(5%, -5%);

    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 7vw 0;
    position: relative;
}

#moving-text {
    /* background-color: white; */
    white-space: nowrap;
    overflow-x: auto;

}

#moving-text::-webkit-scrollbar {
    display: none;
}

#moving-text h1 {
    font-size: 5vw;
    display: inline-block;

}

#gola {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fe320a;
    display: inline-block;
    margin: 0vw 2vw;

}

.con {
    /* background-color: aqua; */
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateX(-100%);
    }
}


#page2-buttom {
    height: 80vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
    position: relative;
    z-index: 9;
}

#page2-buttom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#buttom-part2 {
    width: 20%;
    /* margin-top: 20vh; */
}

#buttom-part2 img {
    width: 100%;
    border-radius: 15px;

}

#buttom-part2 p {
    font-weight: 200;
    font-size: 1vw;
    margin-top: 2vw;

}

#page2 #page2-animation {

    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top, #fe320a, #fe780a);
    top: 55%;
    left: 25%;
    filter: blur(20px);
    animation-name: page2-anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes page2-anime {
    from {
        transform: translate(10%, -10%) skew(0);
        filter: blur(20);
    }

    to {
        transform: translate(-10%, 10%) skew(12deg);
        filter: blur(30);
    }

}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.dot2 {
    display: flex;
    align-items: center;
    height: 7vw;
    width: 100%;
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #fe320a;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;

}


.elem {
    height: 150px;
    width: 100%;
    position: relative;
    /* border-top: 1px solid #000; */
    border-bottom: 1px solid #34323262;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
    justify-content: space-between;
}

.elem h2 {
    font-size: 3vw;
    z-index: 1000;

}

.project-details {
    display: flex;
    flex-direction: column;

    text-align: end;
    gap: 10px;
    font-weight: 100;
    font-size: 1.3vw;
    padding-right: 20px;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}


#whole-img{
    height: 25vw;
    width: 22vw;
    /* background-color: red; */
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}
#whole-img:hover{
    display: none;
}

#page3 button{
    padding: 10px 25px;
    border-radius: 20px;
    border: 1px solid #3f3e3ec7;
    margin-top: 3vw;
    margin-left: 2vw;
}

#page4{
    width: 100vw;
    height: 100vh;
    background-color: #EFEAE3;
    position: relative;
    display: flex;
    /* margin-bottom: 1vh; */
 
}

#page4-left{
    width: 40vw;
   margin-left: 4vw;
    height: 100vh;
    background-color: #000000;
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  
}

.headings {
    font-size: 2vw;
    color: #ffff;
   margin-bottom: 2vw;
    width: 45%;
  line-height: 1;
  padding-top: 20px;
    margin-left: 10vw;
   
}
.headings h1{
    padding-left: 6%;
    cursor: pointer;
}
.design{
    border-left: 3px solid #FF4500;
   
}

.headings h1:not(:first-child){
    border-left: 3px solid #504A45;
    color: #504A45;
}

#page4-left p{
    font-size: 1.5vw;
    color: #ffff;
    width: 55%;
    margin-left: 10vw;
    font-family:new-has-light ;
   
}

#page4-right{
    width: 60vw;
    height: 100vh;
    /* background-color: purple; */
    margin-right: 4vw;
    position: relative;
}

#page4-right img{
    background-size: cover;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#page5{
    height:70vh;
    width: 100vw;
    padding: 8vw 2vw;
    background-color: #EFEAE3;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    border-left: 1px solid #504A45;
    text-align: left;
    font-size: 18px;
    
    height: 60%;
    padding-left: 3%;
    background-color: #EFEAE3;
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; */
  }

  .swiper-slide img {
    display: block;
    width: 50%;
    height: 60%;
    object-fit: cover;
  }
/* .swiper-img{
   user-select: none;
   width: 100%;
   object-fit: cover;
} */
  .swiper-slide {
    width: 30%;
  }

  .swiper-detail{
    user-select: none;
    text-align: start;
    width: 80%;
    font-weight: 100;
    font-family: new-has-light;
  }
  /* .swiper-slide:nth-child(2n) {
    width: 40%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  } */

#page6{
    height: 100vh;
    width: 100%;
}

  /* footer */

footer{
    position: fixed;
    height: 105vh;
    width: 100%;
   color: white;
   z-index: 9;
    background-color: #000000;
    bottom: 0;
   display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

footer h1{
    font-size: 23vw;
    
}

.footer-bottom{
    border-top: 1px solid #2b2a2a;
    height: 10vh;
    width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1vw 1vw;
}
.footer-bottom a{
    text-decoration: none;
    color: #ffff;
    
}
.footer-bottom a:hover{
    cursor: pointer;
    color: rebeccapurple;
}

.footer-up{
    /* height: 100px;width: 100px; */
    position: relative;
        height: 20vh;
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        padding: 0 3vw;
        font-size: 2vw;
        font-family: new-has;
        /* margin: auto; */
    
}
.footer-up-left{
    display: flex;
 flex-direction: column;
 margin-left: 4vw;

}

.footer-up-left a{
    text-decoration: none;
    color: white;
    font-weight: new-has;
 
}

.footer-up-right {
    width: 40%;
    font-weight: new-has;
   
}


.footer-up-right input{
  width: 40%;
  border: none;
  background-color: transparent;
  
}
 input ::placeholder{
    color: white;
    font-size: 40px;
}


.animation-div1{
    filter: blur(40px); 
    position: absolute;
    left: 0;
    top: -4%;
    width: 75%;
    height: 500px;
    /* border-bottom-right-radius: 50%; */
    background-color: orangered;
    animation: animation-div2 10s linear infinite;
    animation-delay: 4s;
    animation-direction: alternate;
}

.animation-div2{
    position: absolute;
    width: 50%;
    top:-6%;
    right: -10%;
    height: 35%;
    background-color: orangered;
    filter: blur(40px);
    transform: rotate(-45deg);
    animation: animation-div2 10s ease-in-out infinite;
    animation-delay: 4s;
    animation-direction: alternate;
}

.animation-div3{
    filter: blur(40px);
    position: absolute;
    right: 0;
    top: -4%;
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 50%;
    background-color: orangered;
    animation: animation-div2 10s ease-in-out infinite;
    animation-delay: 4s;
    animation-direction: alternate;
}

.animation-div4{
    position: absolute;
    width: 300px;
    right: -15%;
    height: 300px;
    background-color: orangered;
    filter: blur(40px);
    transform: rotate(45deg);
    animation: animation-div6 8s ease-in-out infinite;
    animation-delay: 4s;
    animation-direction: alternate;
}

@keyframes animation-div6 {
    0% {
        height: 35%;
    }

    50% {
        height: 30%;
    }

    100% {
        height: 35%;
    }
}

@keyframes animation-div2 {
    0% {
        height: 40%;
    }

    50% {
        height: 20%;
    }

    100% {
        height: 50%;
    }
}




/* #full-scr{
    height: 100vh;
    width: 100%;
    background-color: #00000042;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
} */


/* #full-div1{
    height: 50%;
    width: 100%;
    background-color: #efeae3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} */



#full-scr{
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
   transition:  all ease .4s;

}
/* Responsive */




@media (max-width:600px) {
    #page1 {
        min-height: 100vh;
        width: 100vw;
        /* background-color: #EFEAE3;
        position: relative; */
        padding: 0 5vw;
    }
    
    nav {
        height: 100px;
        width: 100%;
     
    }

    nav img{
        height: 12vw;
       
    }
    .nav-btn {
      display: none;
    }
     nav h3{
        display: block;
        padding: 3vw 5vw;
       border: 1px solid #bababa;
       border-radius: 50px;
       font-size: 4vw;
       font-weight: 200;
        
     }




     /* hero center section */
 
     #center {
        height: 62vh;
        width: 100%;
       
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
       
        border-bottom: 1px solid #000000;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
    }
    
    #left h3 {
        width: 80%;
        line-height: 7vw;
        font-size: 5.8vw;
    }
    
    #right h1 {
        font-size: 16vw;
        line-height: 14vw;
        text-align: right;
    }
    
    #page1 video {
        width: 92%;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        margin-left: 4%;
        border-radius: 15px;
      
        position: relative;
    }
    

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 10vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }
    

    /*  page 2 */
    #page2-buttom {
        height: 90vh;
        width: 100vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10vw 3vw;
        position: relative;
        z-index: 9;
        flex-direction: column;
    }
    
    #page2-buttom h1 {
        font-size: 7.3vw;
        width: 100%;
        line-height: 8vw;
        
    }
    
    #buttom-part2 {
        width: 90vw;
        /* margin-top: 20vh; */
    }
    
    #buttom-part2 img {
        width: 100%;
        border-radius: 10px;
    
    }
    
    #buttom-part2 p {
        font-weight: 200;
        font-size: 4vw;
        margin-top: 2vw;
    
    }
    
    #page2 #page2-animation {
    
        height: 60vw;
        width: 60vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top, #fe320a, #fe780a);
        top: 15%;
        left: 25%;
        filter: blur(20px);
        animation-name: page2-anime;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
/* page 3 */

#page3 {
    min-height: 100vh;
    width: 100vw;
    background-color: #EFEAE3;
    padding: 4vw 0;
}

.dot2 {
    border-bottom: 1px solid #504A45;
    display: flex;
    align-items: center;
    height: 7vw;
    width: 100%;
    position: relative;
    font-size: 5vw;
    padding-bottom: 20px;
    
}
.dot{
    margin-left: 4px;
}

/* page3 elements */




.elem {
    height: 100px;
    width: 100vw;
   
}

.elem h2 {
    font-size: 5.7vw;

}

.project-details {
    text-align: center;
    gap: 5px;
    font-size:3vw;
  
}

.overlay {
   
    transition: all ease 0.5s;
}

.elem:hover .overlay {
    top: 0;
}


#whole-img{
    height: 70vw;
    width: 50vw;
    position: fixed;
    z-index: 99;
    left: 40%;
    top: 40%;
    
    
}
#whole-img:hover{
    display: none;
}

/* page 4 */
#page4{
    width: 100vw;
   min-height: 50vh;
    background-color: #EFEAE3;
    position: relative;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 1vh; */

 
}

#page4-left{
    width: 100vw;
  background-color:#000000;
  margin-left: 0px;
  height: 45vh;
  border-top-left-radius: 0px;
  z-index: 9;
  border-bottom-left-radius: 0px;
}

.headings {
    font-size: 5vw;

}
.headings h1{
    padding-left: 6%;
    cursor: pointer;
}


#page4-left p{
    font-size: 4.1vw;
    font-weight: 400;
}

#page4-right{
    width: 100%;
    height: 50vh;
    margin-top: 20px;
  
}

#page4-right img{
    width: 100vw;
   height: 35vh;
    background-size: cover;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-radius: 50px;
   
    padding-right: 10px;
    padding-left: 10px;

}
}